VideoPlayer.xcodeproj/project.xcworkspace/**/*
VideoPlayer.xcodeproj/xcuserdata/**/*

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.idea
.gradle
local.properties

# node.js
#
node_modules/react
node_modules/react-native-carousel
node_modules/react-native
node_modules/react-native-invertible-scroll-view
node_modules/react-native-page-swiper
node_modules/react-native-responsive-image
node_modules/react-native-wechat
node_modules/react-redux
node_modules/react-timer-mixin
node_modules/redux
node_modules/redux-thunk
npm-debug.log
